body{
    background-color: aliceblue;
}
#Header{
    font-size: 15px;
    font-family: Helvetica;
    text-align: center;
    border-width: 10px;
    border-color: aqua;
}
ul{
    list-style-type: none;
}
.btn1{
    border-color: blue;
    border-width: 2px;
    border-radius: 10px 10px 10px 10px;
}
.btn2{
    border-color: brown;
    border-width: 2px;
    border-radius: 10px 10px 10px 10px;
}